<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turtle_foot_b_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>turtle_foot_b_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>turtle_foot_f_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>turtle_foot_f_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,82}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>turtle_ghost_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>turtle_ghost_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>turtle_ghost_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>turtle_ghost_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>turtle_ghost_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,28}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>turtle_ghost_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>turtle_ghost_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>turtle_ghost_foot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>turtle_ghost_foot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>turtle_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{71,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{71,119}}</string>
                <key>sourceSize</key>
                <string>{75,123}</string>
            </dict>
            <key>turtle_leg_b_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{57,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,112}}</string>
                <key>sourceSize</key>
                <string>{61,116}</string>
            </dict>
            <key>turtle_leg_b_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{57,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,112}}</string>
                <key>sourceSize</key>
                <string>{61,116}</string>
            </dict>
            <key>turtle_leg_f_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{57,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,112}}</string>
                <key>sourceSize</key>
                <string>{61,116}</string>
            </dict>
            <key>turtle_leg_f_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{57,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,112}}</string>
                <key>sourceSize</key>
                <string>{61,116}</string>
            </dict>
            <key>turtle_neck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{107,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{107,64}}</string>
                <key>sourceSize</key>
                <string>{111,68}</string>
            </dict>
            <key>turtle_shell.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,123},{345,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{345,379}}</string>
                <key>sourceSize</key>
                <string>{349,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turtle_tp.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ca66dccd0339e57d4ffc3ce8eb2807b$</string>
            <key>textureFileName</key>
            <string>turtle_tp.png</string>
        </dict>
    </dict>
</plist>
